@font-face {
    font-family: 'Bebas Neue';
    src: url('fontes/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--cor1);
    line-height: 1.5em;
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    padding: 30px;
    background-image:linear-gradient(to bottom, var(--cor2), var(--cor5));
    font-family: var(--fonte1);
    text-align: center;
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}


nav > a {
    text-align: left;
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

nav {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
    background-color: var(--cor5);
    padding: 8px;
}

nav > div{
    display: inline-block;
    text-align: center;
}

main {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    background-color: #ffffff;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: justify;
}

article > h1 {
    font-family: var(--fonte2);
    font-size: 2em;
    text-indent: 5px;
    color: var(--cor4);
    margin: 10px;
}

h2 {
    background-image:linear-gradient(to right, #c5ebd6, white) ;
    font-family: var(--fonte2);
    text-indent: 8px;
    color: var(--cor4);
    font-size: 1.5em;
}

p, li {
    font-family: var(--font0);
    font-size: medium;
    font-weight: normal;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% ;
    height: 90%;
} 

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.425);
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

h3 {
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

picture {  
    display: block;
    text-align: center;
}

img, source{
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main p {
    margin: 15px 0px;
    font-weight: bold;
    text-indent: 30px;
    line-height: 2em;

}

footer {
    background-color: var(--cor4);
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --font0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}
